---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/HarshKIncubyte
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"895ce0ec5b516b4bf08f615c0cdfdb7b190ad72bc0d9a1a54f0bf463e7e1434e"
      Last-Modified:
      - Mon, 29 Jun 2026 10:51:41 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Reset:
      - '1783424904'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"HarshKIncubyte","id":297881321,"node_id":"U_kgDOEcFO6Q","avatar_url":"https://avatars.githubusercontent.com/u/297881321?v=4","gravatar_id":"","url":"https://api.github.com/users/HarshKIncubyte","html_url":"https://github.com/HarshKIncubyte","followers_url":"https://api.github.com/users/HarshKIncubyte/followers","following_url":"https://api.github.com/users/HarshKIncubyte/following{/other_user}","gists_url":"https://api.github.com/users/HarshKIncubyte/gists{/gist_id}","starred_url":"https://api.github.com/users/HarshKIncubyte/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/HarshKIncubyte/subscriptions","organizations_url":"https://api.github.com/users/HarshKIncubyte/orgs","repos_url":"https://api.github.com/users/HarshKIncubyte/repos","events_url":"https://api.github.com/users/HarshKIncubyte/events{/privacy}","received_events_url":"https://api.github.com/users/HarshKIncubyte/received_events","type":"User","user_view_type":"public","site_admin":false,"name":"Harsh
        Krishnani","company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":3,"public_gists":0,"followers":0,"following":0,"created_at":"2026-06-29T10:47:51Z","updated_at":"2026-06-29T10:51:41Z"}'
  recorded_at: Tue, 07 Jul 2026 10:48:24 GMT
recorded_with: VCR 6.4.0
